async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
GDAL==3.2.0
idna==2.10
multidict==5.1.0
numpy==1.19.4
pycparser==2.20
python-dateutil==2.8.1
python-socks==1.2.0
pytz==2020.5
requests==2.25.1
six==1.15.0
soupsieve==2.1
theHarvester==0.0.1
typing-extensions==3.7.4.3
urllib3==1.26.18
yarl==1.6.3
